{{ block "layout" }}
<!DOCTYPE html>
<html>
    <head>
        <meta name="color-scheme" content="dark light">
        <script src="/htmax.min.js"></script>
        <link rel="stylesheet" href="/styles.css">
    </head>
</html>
{{ end }}