{{ define "content" }}
<h1 style="text-align: center">Lobby</h1>
<div class="grid">
    <a href="/g/{{ .GameID }}/join">
        <img src="/g/{{ .GameID }}/join/qr" alt="QR code">
    </a>

</div>
{{ end }}
